<h1>Listing tips</h1>

<table>
  <thead>
    <tr>
      <th>News tip</th>
      <th>Date</th>
      <th>Source</th>
      <th>Reporter following up</th>
      <th>Notes</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tips.each do |tip| %>
      <tr>
		<td><%= shorten tip %>
		<%= link_to 'Read More', tips_path(read_more: tip.id)%></td>
		<td><%= tip.date %></td>
		<td><%= tip.source %></td>
		<td><%= tip.reporter_following_up %></td>
        <td><%= tip.notes %></td>
        <td><%= tip.status %></td>
        <td><%= link_to 'Show', tip %></td>
        <td><%= link_to 'Edit', edit_tip_path(tip) %></td>
        <td><%= link_to 'Destroy', tip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<%# This is a comment! %>
	  </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tip', new_tip_path %>
